@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>JS Ajax Post Sample</h2>
            <p>
                <a href="/Home/CreateAjax" id="" class="button">JS Ajax Post Click</a>
            </p>
        </div>
        <div>
            <h2>JS Ajax Post By Valid Sample</h2>
            <p>
                <a href="#" id="" class="button">JS Ajax Post By Valid Click</a>
            </p>
        </div>
        <div>
            <h2>JS Ajax Valid Post With Partial Sample</h2>
            <p>
                <a href="#" id="" class="button">JS Ajax Valid Post With Partial Click</a>
            </p>
        </div>
        <div>
            <h2>Sample</h2>
            <p>
                <a href="#" id="" class="button">Sample Click</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>Knock Out JS Contact Management Sample</h2>
            <p>
                <a href="/KnockOut/ContactManager" id="" class="button">Knock Out JS Contact Management Click</a>
            </p>
        </div>
        <div>
            <h2>Sample</h2>
            <p>
                <a href="#" id="" class="button">Sample Click</a>
            </p>
        </div>
        <div>
            <h2>Sample</h2>
            <p>
                <a href="#" id="" class="button">Sample Click</a>
            </p>
        </div>
        <div>
            <h2>Sample</h2>
            <p>
                <a href="#" id="" class="button">Sample Click</a>
            </p>
        </div>
    </div>
</div>
