<section id="contactuslink" class="bg-gray">
    <section class="container p-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <a class="link-btn btn-yellow-xl" href="/contact">
                    <span class="link-btn-label">Contact Us</span>
                </a>
            </div>
        </div>
    </section>
</section>