@model CityGlassCompany.WebSite.ViewModels.ErrorPageViewModel
<div id="errorPage">
    <div class="error-page">
        <div class="error-content">
            <h3>
                <i class="fa fa-warning text-yellow"></i>Oops! Something went wrong.
            </h3>
            <p>
                @Model.ErrorMessage
            </p>
        </div>
    </div>
    <!-- /.error-page -->
</div>