<footer id="footer" class="pt-4 pb-4">
    <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    © Copyright <strong><span>City Glass Company</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="http://placovu.com/">PlacoVU, Inc.</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://www.facebook.com/cityglasscompany/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/cityglasscompany/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/CityGlassCS/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw/" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href="https://www.linkedin.com/company/city-glass-company/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

    </div>
</footer>
<a href="#" class="back-to-top" style="display: none;"><i class="icofont-arrow-up"></i></a>