@{
    ViewData["Title"] = "Employment Application";
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
}

<main id="main" class="mt-4">
    <!-- ======= Section ======= -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success">
                                Employment Application Saved Successfully.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Section -->

</main><!-- End #main -->

<partial name="_ContactUsBottomLink" />
