@{
    ViewData["Title"] = "Oops! Error";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
                    <h3>
                        <i class="fa fa-warning text-yellow"></i>Oops! Something went wrong.
                    </h3>
                    <p>
                        We are facing some problem while processing the current request. Please try again later.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
