<section id="career-employment">
    <div class="row">
        <div class="col-12 d-flex justify-content-center flex-wrap align-items-center">
            <img data-src="@Url.Content("~/default/img/about/City-Glass-Company.png")" class="lazy img-fluid" style="max-height: 190px" alt="">
        </div>
    </div>
    <div class="bg-gray">
        <div class="container p-4">
            <div class="row pt-4 pb-3">
                <div class="col-12 d-flex justify-content-center flex-wrap align-items-center">
                    <h3 class="text-center">
                        Interested in joining our company?
                    </h3>
                </div>
                <div class="col-12 d-flex justify-content-center flex-wrap align-items-center">
                    <h5 class="text-center">
                        Apply online now!
                    </h5>
                </div>
                <div class="pt-3 pb-3 col-12 d-flex justify-content-center flex-wrap align-items-center">
                    <a class="link-btn btn-yellow-xl" href="/employment/application">
                        <span class="link-btn-label">Online Application</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
 
</section>