<section id="news" class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center">
                <h3 class="pb-3 text-center">
                    Watch how our experts handle replacing windows!
                </h3>
                <video class="lazy" autoplay loop poster="@Url.Content("~/default/video/cover.jpg")" controls>
                    <source src="@Url.Content("~/default/video/city_glass_final_compressed.mp4")" type="video/mp4"/>
                    <source type="video/webm" src="@Url.Content("~/default/video/cover.jpg")">
                </video>
                <a class="btn-watch-video-news d-flex align-self-center"><i class="icofont-play-alt-2"></i></a>
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5 pb-5">
                    <div class="d-flex flex-wrap container p-2 justify-content-center" data-aos="fade-up">
                        <h4 class="pb-3 text-center">
                            Interested in seeing more of our instructional videos? Subscribe to our YouTube channel
                        </h4>
                        <a href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw" target="_blank">
                            <img  data-src="@Url.Content("~/default/img/logo/Subscribe.png")" alt="" title="" class="lazy img-fluid wf-500">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>