<div class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-5 pb-5">
                <div class="d-flex flex-wrap container p-2 justify-content-center" data-aos="fade-up">
                    <h3 class="pb-3 text-center">
                        Interested in seeing more of our instructional videos? Subscribe to our YouTube channel
                    </h3>
                    <a href="https://www.youtube.com/channel/UCfwZn0-eGe72Aj96cnfg9mw" target="_blank">
                        <img  data-src="@Url.Content("~/default/img/logo/Subscribe.png")" alt="" title="" class="lazy img-fluid wf-500">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>