@{
    ViewData["Title"] = "Commercial";
}

<!-- ======= Header ======= -->
<section class="d-flex align-items-center header-common header-common-img">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                <h1 class="text-center">Commercial</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->


<main id="main">
    <!-- ======= Header Description Section ======= -->
    <section class="header-common-des about">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p>
                        Area business owners trust City Glass to execute their glass and mirror installations on time, on budget, and with excellent results.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                    <hr class="hr-divide" />
                </div>
            </div>
        </div>
    </section><!-- End Header Description Section -->
    <!-- ======= New Construction Section ======= -->
    <section id="new-construction" class="about pt-0">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <img data-src="@Url.Content("~/default/img/commercial/new-construction001.jpg")" class="lazy img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0">
                    <div class="section-title">
                        <h2>New Construction</h2>
                    </div>
                    <div class="section-text">
                        <p class="text-justify">
                            City Glass has been improving Colorado Springs businesses with glass storefronts since its inception in 1950. Today, our completed glass wall projects can be seen in and around Colorado Springs. We purchase glass wall products from all of the major suppliers.
                        </p>
                    </div>
                   
                    <div class="section-link">
                        <a href="/new-construction" class="link-btn"><span class="link-btn-label">Learn More</span></a>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                    <hr class="hr-divide" />
                </div>
            </div>
        </div>
    </section><!-- End New Construction Section -->
    <!-- ======= Repair & Replace Section ======= -->
    <section id="repair-replace" class="about pt-0">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0">
                    <div class="section-title">
                        <h2>Repair & Replace</h2>
                    </div>
                    <div class="section-text">
                        <p class="text-justify">
                            City Glass repairs glass doors throughout the Colorado Springs region. Not only do we provide replacement glass for broken or cracked door windows, we repair and replace closer mechanisms of glass doors as well.
                        </p>
                        <p class="text-justify">
                            Possible causes for window or glass damage include hail, rotting wood frames, broken panes, failed insulation, broken seals, shrunken vinyl and drafty or sticking windows. Whether the vinyl has shrunk or the insulated glass unit has shifted or failed, we’re here to help.
                        </p>
                    </div>
                    <div class="section-link">
                        <a href="/repair-replace" class="link-btn"><span class="link-btn-label">Learn More</span></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <img data-src="@Url.Content("~/default/img/commercial/board-up-services-624.jpg")" class="lazy img-fluid" alt="">
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 pt-4">
                    <hr class="hr-divide" />
                </div>
            </div>
        </div>
    </section><!-- End Repair & Replace Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="about pt-0">
        <div class="container" data-aos="fade-up">
            <div class="row content">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                    <img data-src="@Url.Content("~/default/img/commercial/commercial-windows-005.jpg")" class="lazy img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 pt-4 pt-lg-0">
                    <div class="section-title">
                        <h2>Services</h2>
                    </div>
                    <div class="section-text">
                        <p class="text-justify">
                            Our exterior services include glass storefront installation, glass door and screen repair, as well as insulated window replacement. Indoors we provide mirrors, glass cabinets, closer adjustments, glass walls and more.
                        </p>
                    </div>
                    <div class="section-link">
                        <a href="/services" class="link-btn"><span class="link-btn-label">Learn More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->
<partial name="_ContactUsBottomLink" />