@{
    ViewData["Title"] = "New Construction";
}

    <!-- ======= Header ======= -->
    <section class="d-flex align-items-center header-common header-common-img">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-center">New Construction</h1>
                </div>
            </div>
        </div>
    </section><!-- End Header -->


    <main id="main">

        <!-- ======= Header Description Section ======= -->
        <section class="header-common-des about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <p>
                            Whatever your business, City Glass has the glass products you need for function and design. Area business owners trust us to execute their glass and mirror installations on time, on budget, and with excellent results. They have come to rely on exceptional customer service as well, and that’s why we are a favorite glass and mirror source throughout the Pikes Peak Region.
                        </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Header Description Section -->
        <!-- ======= 1 Section ======= -->
        <section id="new-construction-section-1" class="slider-section pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-4 col-lg-4 col-md-4 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <div class="slider-box mr-2">
                            <div class="slider-box-img">
                                <img src="~/default/img/commercial/commercial-windows013.jpg" data-src="@Url.Content("~/default/img/commercial/commercial-windows013_86.jpg")" class="lazy img-fluid" alt="">
                            </div>
                            <div class="slider-box-title">
                                <h2>Storefront</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    We may have completed more storefront glass projects than any other glass company in Southern Colorado. From gas stations to car dealerships and coffee shops to strip malls, we do it all.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="slider-box ml-2">
                            <div class="slider-box-img">
                                <img src="~/default/img/commercial/curtain-wall007.jpg" data-src="@Url.Content("~/default/img/commercial/curtain-wall007_86.jpg")" class="lazy img-fluid" alt="">
                            </div>
                            <div class="slider-box-title">
                                <h2>Curtainwall</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    City Glass has been installing curtain walls since 1950. We have knowledgeable installers and the proper equipment needed for proper installation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="slider-box ml-2">
                            <div class="slider-box-img">
                                <img src="~/default/img/commercial/city-glass-company-old-chicago03.jpg" data-src="@Url.Content("~/default/img/commercial/city-glass-company-old-chicago03.jpg")" class="lazy img-fluid" alt="">
                            </div>
                            <div class="slider-box-title">
                                <h2>Doors</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    City Glass is Colorado Springs go–to company for commercial glass doors. We have installed thousands of glass storefront doors in Southern Colorado and you can count on the expertise of our glass technicians.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- 1 Section -->

    </main><!-- End #main -->
    
    <partial name="_ContactUsBottomLink" />

