@{
    ViewData["Title"] = "Repair & Replace";
}

    <!-- ======= Header ======= -->
    <section class="d-flex align-items-center header-common header-common-img">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-center">Repair & Replace</h1>
                </div>
            </div>
        </div>
    </section><!-- End Header -->


    <main id="main">

        <!-- ======= Header Description Section ======= -->
        <section class="header-common-des about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <p>
                            City Glass repairs glass doors throughout the Colorado Springs region. Not only do we provide replacement glass for broken or cracked door windows, repair and replace closer mechanisms of glass doors as well. Without proper glass repair and repairs on the door itself the problem can continue and the glass may break again. Our comprehensive approach ensures that our customers will be pleased with the product.
                        </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Header Description Section -->
        <!-- ======= 1 Section ======= -->
        <section id="repair-replace-section-1" class="slider-section pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <div class="slider-box mr-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_one" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_one" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_one" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/commercial/doors-hardware.jpeg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/commercial/framed-shower-enclosure003.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_one" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_one" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Doors & Hardware</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    Whether the wind caught your glass door and caused the closer to fail or the closer is not performing as it used to, City Glass can assist in replacing or repairing the door closer. We can also recommend options to improve the performance of your commercial glass door, keeping your door operating longer without repairs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="slider-box ml-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_two" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/commercial/board-up-services-624.jpg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/commercial/board-up-services-626.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Glass</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    Each building and business has a unique look as well as unique needs which require a helping and trusting hand. City Glass will help you pick the correct glass to meet your specifications. We’ll make sure your glass storefront works perfectly and looks great, too.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- 1 Section -->

    </main><!-- End #main -->
    
    
    <partial name="_ContactUsBottomLink" />
