@{
    ViewData["Title"] = "Services";
}

    <!-- ======= Header ======= -->
    <section class="d-flex align-items-center header-common header-common-img">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-center">Services</h1>
                </div>
            </div>
        </div>
    </section><!-- End Header -->
<main id="main">

        <!-- ======= Header Description Section ======= -->
        <section class="header-common-des about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <p>
                            Our glass services are perfect for homeowners, property managers and store owners. If your home or business is in need of emergency glass service or maintenance, we’ll make sure your property is safe, secured and repaired as soon as possible.
                        </p>
                        <p>
                            Emergency glass service: 719–634–2891
                        </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Header Description Section -->
        <!-- ======= 1 Section ======= -->
        <section id="services-section-1" class="slider-section pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <div class="slider-box mr-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_one" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_one" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_one" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1147286219.jpg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1147286219.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_one" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_one" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Property Managers</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    Property management involves many responsibilities, but glass repair doesn’t have to be one of them. Let City Glass take glass repair, maintenance and installation off your to-do list.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="slider-box ml-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_two" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/emergency-glass-service001.jpg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/board-up-services-626.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Emergency</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    City Glass provides 24 hour emergency board up and repair services. Our emergency glass services include glass repair, replacement windows, glass door repair and more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- 1 Section -->

    </main><!-- End #main -->
    
    <partial name="_ContactUsBottomLink" />

