@{
    ViewData["Title"] = "Windows & Doors";
}

    <!-- ======= Header ======= -->
    <section class="d-flex align-items-center header-common header-common-img">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-center">Windows & Doors</h1>
                </div>
            </div>
        </div>
    </section><!-- End Header -->
    <main id="main">

        <!-- ======= Header Description Section ======= -->
        <section class="header-common-des about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <p>
                            The City Glass custom window replacement services and installation team designs and installs home windows precisely according to your preferences. We provide our clients with the highest quality, most energy efficient home windows available. Count on us for great products while we keep prices fair.
                        </p>
                        <p>
                            City Glass offers a wide range of glass doors. Front doors, sliding doors, patio doors, shower enclosures and commercial storefront doors are just a few of our specialties. Whether you need a glass door for your home or business, exterior or interior, City Glass will design and install the right one for you.
                        </p>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
                        <hr class="hr-divide" />
                    </div>
                </div>
            </div>
        </section><!-- End Header Description Section -->
        <!-- ======= 1 Section ======= -->
        <section id="windows-doors-section-1" class="slider-section pt-0">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-right" data-aos-delay="100">
                        <div class="slider-box mr-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_one" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_one" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_one" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/iStock-910304162.jpg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-480623669.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_one" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_one" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Windows</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    Replacement or repair, City Glass is your trusted source for windows. Top quality products with superior service!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                        <div class="slider-box ml-2">
                            <div class="slider-box-img">
                                <div class="sideslide">
                                    <div id="slider_two" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#slider_two" data-slide-to="0" class="active"></li>
                                            <li data-target="#slider_two" data-slide-to="1" class=""></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <!-- Slide 1 -->
                                            <div class="carousel-item active" style="background-image: url(@Url.Content("~/default/img/residential/iStock-183289827.jpg"))">

                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="carousel-item" style="background-image: url(@Url.Content("~/default/img/residential/iStock-1227208602.jpg"))">

                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#slider_two" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#slider_two" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-box-title">
                                <h2>Doors</h2>
                            </div>
                            <div class="slider-box-content">
                                <p>
                                    Let us create the custom glass door that’s perfect for your home or business.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- 1 Section -->

    </main><!-- End #main -->
    <partial name="_ContactUsBottomLink" />
