@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Json Data Store.</p>
        </div>
    </div>
    <div class="col-12">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1000">
                    <img src="@Url.Content("~/img/iStock-1216233882.jpg")" class="d-block w-100" alt="...">
                    <div class="row">
                        <div class="col-12">
                            <h3>1st Slide</h3>
                            <p>This is 1st Slide. This is 1st Slide. This is 1st Slide. This is 1st Slide. This is 1st Slide.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="1500">
                    <img src="@Url.Content("~/img/iStock-1216233882.jpg")" class="d-block w-100" alt="...">
                    <div class="row">
                        <div class="col-12">
                            <h3>2nd Slide</h3>
                            <p>This is 2nd Slide. This is 2nd Slide. This is 2nd Slide. This is 2nd Slide. This is 2nd Slide.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="@Url.Content("~/img/iStock-1216233882.jpg")" class="d-block w-100" alt="...">
                    <div class="row">
                        <div class="col-12">
                            <h3>3rd Slide</h3>
                            <p>This is 3rd Slide. This is 3rd Slide. This is 3rd Slide. This is 3rd Slide. This is 3rd Slide.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-12">
        <button id="btn-bootstrap-toast-alert" class="btn btn-primary">Bootstrap toast alert</button>
    </div>
    <div id="bootstrap-toast-alert" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small class="text-muted">2 seconds ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Heads up, toasts will stack automatically
        </div>
    </div>
</div>