@{
    ViewData["Title"] = "Angular JS Sample";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">Angular JS Sample</h1>
        </div>
    </div>
</div>