@{
    Layout = "_LayoutTheThirdMeal";
    ViewData["Title"] = "The Third Meal Sample";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">The Third Meal Sample</h1>
        </div>
    </div>
</div>
