@model lab.DataStore.App.Models.Result
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-@Model.ErrorType">
            @Model.Error
        </div>
    </div>
</div>

